In [1]:
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import  accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC

import pandas as pd
import numpy as np

data = pd.read_csv ('B:\DATA Science\PYTHON\DATASETS\house_data.csv')
data.head()

#data['sqft_living'].replace( 'area',1180, inplace = True)
#data.rename(columns={'sqft_living': 'area', }, inplace=True)
data.head()
#data.shape
#data.columns
data.dtypes
data.head()

data = data.drop(['id','date', 'sqft_living', 'sqft_lot','sqft_living15','sqft_lot15',
'waterfront', 'sqft_above', 'sqft_basement', 'zipcode','lat', 'long','yr_renovated'], axis=1)

data.head()

      price  bedrooms  bathrooms  floors  view  condition  grade  yr_built
0  221900.0         3       1.00     1.0     0          3      7      1955
1  538000.0         3       2.25     2.0     0          3      7      1951
2  180000.0         2       1.00     1.0     0          3      6      1933
3  604000.0         4       3.00     1.0     0          5      7      1965
4  510000.0         3       2.00     1.0     0          3      8      1987

In [2]:
data.isnull().any()

data.isnull().sum()

#for value in ['price', 'bedrooms', 'bathrooms', 'floors', 'view', 'condition', 'grade', 'yr_built', 'yr_renovated']:
              #print value,":",sum(data[value]=='?')  

data.describe(include='all')

,price,bedrooms,bathrooms,floors,view,condition,grade,yr_built
count,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,5.401822e+05,3.370842,2.114757,1.494309,0.234303,3.409430,7.656873,1971.005136
std,3.673622e+05,0.930062,0.770163,0.539989,0.766318,0.650743,1.175459,29.373411
min,7.500000e+04,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1900.000000
25%,3.219500e+05,3.000000,1.750000,1.000000,0.000000,3.000000,7.000000,1951.000000
50%,4.500000e+05,3.000000,2.250000,1.500000,0.000000,3.000000,7.000000,1975.000000
75%,6.450000e+05,4.000000,2.500000,2.000000,0.000000,4.000000,8.000000,1997.000000
max,7.700000e+06,33.000000,8.000000,3.500000,4.000000,5.000000,13.000000,2015.000000

In [13]:
x = data[data.columns[1:9]]
x
y = data[data.columns[:1]]
y

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size =0.30, random_state = 10)

gnb = GaussianNB()
gnb.fit(x_train, y_train)
y_pred = gnb.predict(x_test)

y_pred

accuracy_score(y_test, y_pred, normalize=True)

#gnb.predict([[3,2.00,1.0,0,3,8,1987]])

C:\Users\user\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.0004626773596545342

In [4]:
validator = cross_val_score(gnb,x_train,y_train, cv=5)
validator
validator.mean()

C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.0009161716361485748

In [5]:
validator.std()

0.0007820858039294632

In [6]:
validator.std()

0.0007820858039294632

In [7]:
validator.std()

0.0007820858039294632

In [8]:
validator.mean()

0.0009161716361485748

In [9]:
#Recursive Feature Elimination
from sklearn.feature_selection import RFE

regressor= LinearRegression()

rfe = RFE(estimator=regressor, n_features_to_select=5)
rfe = rfe.fit(x_train, y_train)

rfe.support_
y_pred = rfe.predict(x_test)
y_pred
rfe.ranking_
rfe.n_features_
rfe.estimator

rfe.predict([[3,2.00,1.0,0,3,8,1987]])

C:\Users\user\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([557167.74489213])

In [10]:
regressor.fit(x_train, y_train)
y_pred = regressor.predict(x_test)
y_pred
regressor.predict([[3,1.00,1.0,0,3,7,1955]])

array([[316997.68753365]])